<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home</title>
</head>

<body>
    <!-----------------------------------------Nav Bar Start--------------------------------->
    <nav>
        <div>
            <!--Nav Bar-->
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/add_device">Add Device</a></li>
                <li><a href="/list_device">Manage Device</a></li>
                <li><a href="/search_device">Search Device</a></li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!------------------------------------------Nav Bar ends-------------------------------->



    <h1> This is Search Page </h1>
    <h3>You can see all the devices in the database</h3>

    <form method="get" action="search-result-db">
        <select name="name" id="select">
            <option>Please Select a device</option>
            <% allDevices.forEach(function(devices) { %>
                <option>
                    <%= devices.name %>
                </option>
                <% }) %>
        </select>
        <input type="submit" value="submit">
    </form>

    <!------------------------------------------Footer-------------------------------->
    <div id="copyright">
        <p style="margin-top:10px">2022 @ Smart Home. </p>
    </div>
    <!---------------------------------------Footer Ends------------------------------->
</body>

</html>