<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home</title>
</head>

<body>
    <!-----------------------------------------Nav Bar Start--------------------------------->
    <nav>
        <div>
            <!--Nav Bar-->
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/add_device">Add Device</a></li>
                <li><a href="/list_device">Manage Device</a></li>
                <li><a href="/search_device">Search Device</a></li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!------------------------------------------Nav Bar ends-------------------------------->


    <form id="update_form" method="POST" action="/updateDevice">
        <label>ID: </label>
        <label>
            <%= allDevices[0].ID %>
        </label>
        <input type="number" name="ID" value="<%= allDevices[0].ID %>" hidden>
        <br />
        <label>Type: </label>
        <select name="type" id="types">
            <option value="<%= allDevices[0].type %>">
                <%= allDevices[0].type %>
            </option>
        </select>
        <br />
        <div>
            <!-- Device Name -->
            <label>Device Name:</label>
            <input type="text" name="name" value="<%= allDevices[0].name %>" required>
            <br />

            <!-- status -->
            <label>Status: </label>
                <% if(allDevices[0].status=="1" ){ %>
                    <input type="radio" name="status" value="1" checked />
                    <label>On</label>
                    <input type="radio" name="status" value="0" />
                    <label>Off</label>
                <% } else { %>
                    <input type="radio" name="status" value="1" />
                    <label>On</label>
                    <input type="radio" name="status" value="0" checked />
                    <label>Off</label>
                <% } %>
                <br />

            <!-- volume -->
                <% if(allDevices[0].volume == null  ){ %>
                    <!-- volume null -->

                <% } else{%>
                    <label>Volume: </label>
                    <input type="range" name="volume" min="0" max="100" value= "<%= allDevices[0].volume %>"  />
                <% } %>
                <br />
            
            <!-- Channel -->
                <% if(allDevices[0].channel == null  ){ %>
                    <!-- Channel null -->

                <% } else{%>
                    <label>Channel: </label>
                <select name="channel">
                    <% if(allDevices[0].channel == 1){ %>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    <%}%>
                    <% if(allDevices[0].channel == 2){ %>
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    <%}%>
                    <% if(allDevices[0].channel == 3){ %>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    <%}%>
                    <% if(allDevices[0].channel == 4){ %>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    <%}%>
                    <% if(allDevices[0].channel == 5){ %>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                        <option value="6">6</option>
                    <%}%>
                    <% if(allDevices[0].channel == 6){ %>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" selected>6</option>
                    <%}%>

                </select>
                <% } %>
                <br />

                <!-- Temperature -->
                <% if(allDevices[0].temperature == null  ){ %>
                    <!-- Temperature null -->

                <% } else{%>
                    <label>Temperature: </label>
                    <input type="number" name="temperature" placeholder="18-30 degree" pattern="[0-9]{2}" value= "<%= allDevices[0].temperature %>" required>
                <% } %>
                <br />

                <!-- Frezzer temperature -->
                <% if(allDevices[0].frezzer_temp == null  ){ %>
                    <!--Frezzer temperature null -->

                <% } else{%>
                    <label>Frezzer Temperature: </label>
                    <select name="frezzer_temp">
                        <% if(allDevices[0].frezzer_temp == -4){ %>
                            <option value=-4 selected>-4</option>
                            <option value=-3>-3</option>
                            <option value=-2>-2</option>
                            <option value=-1>-1</option>
                        <%}%>
                        <% if(allDevices[0].frezzer_temp == -3){ %>
                            <option value="-4">-4</option>
                            <option value="-3" selected>-3</option>
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                        <%}%>
                        <% if(allDevices[0].frezzer_temp == -2){ %>
                            <option value="-4">-4</option>
                            <option value="-3">-3</option>
                            <option value="-2" selected>-2</option>
                            <option value="-1">-1</option>
                        <%}%>
                        <% if(allDevices[0].frezzer_temp == -1){ %>
                            <option value="-4">-4</option>
                            <option value="-3">-3</option>
                            <option value="-2">-2</option>
                            <option value="-1" selected>-1</option>
                        <%}%>
                    </select>
                    <br />
                <% } %>
                <br />

                <!-- Refrigerator temperature -->
                <% if(allDevices[0].refrigerator_temp == null  ){ %>
                    <!--Refrigerator temperature null -->

                <% } else{%>
                    <label>Refrigerator Temperature: </label>
                    <select name="refrigerator_temp">
                        <% if(allDevices[0].refrigerator_temp == 1){ %>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        <%}%>
                        <% if(allDevices[0].refrigerator_temp == 2){ %>
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        <%}%>
                        <% if(allDevices[0].refrigerator_temp == 3){ %>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                            <option value="4">4</option>
                        <%}%>
                        <% if(allDevices[0].refrigerator_temp == 4){ %>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4" selected>4</option>
                        <%}%>
                    </select>
                    <br />
                <% } %>
                <br />

                <!-- Fan speed -->
                <% if(allDevices[0].fan_speed == null  ){ %>
                    <!--Refrigerator temperature null -->

                <% } else{%>
                    <label>Frezzer Temperature: </label>
                    <select name="fan_speed">
                        <% if(allDevices[0].fan_speed == 1){ %>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        <%}%>
                        <% if(allDevices[0].fan_speed == 2){ %>
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                        <%}%>
                        <% if(allDevices[0].fan_speed == 3){ %>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                        <%}%>
                    </select>
                    <br />
                <% } %>
                <br /> 

        </div>
        <input type="submit" id="test" value="Submit">
        <!-- <button id="test" type="submit">submit</button> -->

    </form>

    <script src="Js/jquery-3.6.0.min.js"></script>


    <!------------------------------------------Footer-------------------------------->
    <div id="copyright">
        <p style="margin-top:10px">2022 @ Smart Home. </p>
    </div>
    <!---------------------------------------Footer Ends------------------------------->
</body>

</html>